body{
    background-color: white;
    width: 100%;

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;

    font-size: 1.5em;
}

h1{
    font-size: 2em;
}
b{
    font-weight: bold;
}

.carousel-cover-skew{
    height: 10em;
    
    background-color: white;
}
.carousel-cover-skew-top{
    position: relative;
    z-index: 1;
    bottom: -4em;

    transform: skewY(-2deg);
    -webkit-transform: skewY(-2deg);
}
.carousel-cover-skew-bottom{
    position: relative;
    z-index: 1;
    bottom: 4em;
    margin-bottom: -9em;

    transform: skewY(-3deg);
    -webkit-transform: skewY(-3deg);
}