
.about-us::before{
    content: '';
    display: block;
    position: relative;
    z-index: -1;
    bottom: 0;
    height: 23em;
    margin-bottom: -18em;
    transform: skewY(-3deg);
    -webkit-transform: skewY(-3deg);
    /* height: 10em; */
    background-color: white;
}
.about-us::after{
    content: '';
    display: block;
    position: relative;
    z-index: -1;
    bottom: 0;
    height: 23em;
    margin-top: -18em;
    transform: skewY(-3deg);
    -webkit-transform: skewY(-3deg);
    /* height: 10em; */
    background-color: white;
}
.about-us{
    width: 100%;
    position: relative;
    z-index: 999;
}
.about-us-big{
    display: none;
}
.about-us-small{
    margin: auto;
    width: 65%;
    display: flex;
    flex-direction: column;
}
.about-us-small header{
    text-align: center;
    margin: auto;
    width: 80%;
}
.about-us-small header hr{
    background-color: gold !important;
}

.about-us-small main{
    margin: auto;
    width: 80%; 
}
.about-us-small main p{
    text-align: center;
    margin: 1em;
}