.contacts{
    width: 100%;

    background-color: #212121;
    color: white;

    text-align: center;

    padding-top: 6em;
    padding-bottom: 1em;
    margin: auto;
}
.contacts a{
    color: white;
}
.contacts br{
    display: block;
    height: 1.2em;
}