input[type=text],
input[type=email], 
textarea {
    width: 100%;

    box-sizing: border-box;

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;

    font-size: 1em;
    line-height: 1em;

    margin-top: 0.5em;
    margin-bottom: 1em;
    margin-left: 0;
    padding: 0.5em;
    min-height: 0.75em;

    border: unset;
    border-radius: 0.2em;

    outline-color: rgb(84 105 212 / 0.5);
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}
.email-me label{
    display: block;
    padding: 0.5em;
}

.email-me-form{
    margin: auto;
    width: 80%;
}


.email-me-container{
    font-size: 2em;
    padding-top: 1em;
    padding-bottom: 1em;

    background-color: #212121;
    color: white;
}
.email-me-container header{
    font-size: 1.2em;
    text-align: center;
}
.email-me hr{
    border-color: gold;
    height: 0;
    margin-bottom: 1.5em;
}
.email-me-form button{
    font-size: 1em;

    padding: 0.8em;

    border-radius: 0.5em;
    border-width: 0;
    background-color: goldenrod;
}

@media screen and (min-width: 900px){
    .email-me-form{
        width: 35%;
    }
    .email-me-container{
        font-size: 0.95em;
    }
}