nav{
    background-color: #212121;
    color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
}
nav a{
    color: white;
    text-decoration: none;
}
.nav-logo{
    position: relative;
    height: fit-content;

    width: 100%;
}
.nav-logo img{
    margin: 0.5em;
    height: 3em;
}
.nav-logo button{
    top: 0;
    bottom: 0;
    position: absolute;
    right: 0;
    border: 0;
    color: white;
    height: auto;
    width: 1.6em;
    background-color: #212121;
    font-size: 3em;
}
.nav-links{
    -webkit-transition: max-height 1s; 
    -moz-transition: max-height 1s; 
    -ms-transition: max-height 1s; 
    -o-transition: max-height 1s; 
    transition: max-height 1s;
    overflow: hidden;

    max-height: 0;
}
.nav-links-expanded{
    max-height: 100em;
}
.nav-items{
    display: block;
    height: 3em;
    text-align: center;

    line-height: 3em;

    font-size: 2em;
    background-color: #212121;

    border-color: white;
    border-style: solid;
    border-top-width: 0.05em;
}
.nav-items:hover{
    background-color: red;
    max-height: 20em;
}
.dropdown-content{
    width: 80%;
    margin-right: auto;

    -webkit-transition: max-height 1s; 
    -moz-transition: max-height 1s; 
    -ms-transition: max-height 1s; 
    -o-transition: max-height 1s; 
    transition: max-height 1s;  
    overflow: hidden;
    max-height: 0;

    border-color: white;
    border-style: solid;
    border-right-width: 0.2em;
}
.dropdown-active{
    max-height: 40em;
}