.reference{
    margin-top: 4em;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.reference h1{
    font-size: 1.5em;
}
.reference .desktop-img{
    width: 80%;
    margin: 1em;
    
}
.reference .mobile-img{
    margin: 1em;
}

@media screen and (min-width: 1000px){
    .mobile-img{
        display: none;
    }
}
@media screen and (max-width: 1000px){
    .desktop-img{
        display: none;
    }
}