.reference-container-section{  
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
}
.reference-section-item{
    display: flex;
    
}